/* Estilos para la página del gimnasio de usuario */
.gym-user-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gym-top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.map-section,
.gym-info {
  padding: 20px;
}


.image-scroll{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 10px;        
  margin-top: 25px !important;
}
.machine-scroll{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 10px;    
  margin-top: 25px !important;
}

.comments-section {  
  justify-content: center;
}

.new-comments-button{
  background-color:gray;
  align-self: center;
}
.new-comments-button:hover{
  background-color:rgb(61, 60, 60);
}

.comment {
  display:flex;  
  flex-wrap: wrap;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
